/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   margin-bottom: Opx;
}

.container {
  /*display: flex;*/
  /*flex-direction: column;*/ 
}


/* Typography */

h1, h2 {
   font-family: 'Love Ya Like A Sister', cursive;
   text-align: center;
  
}

h1 {
   color: #d17f38;
   background-image: url("../images/header-divider.png");
   background-position: bottom;
   background-repeat: no-repeat;
   padding-bottom: 20px;
}

h1 em {
   color: #4b2707;

}

h2 {
   color: #d17f38;
}

h3 {
   color: #4b2707;
}

p.lead {
   text-align: center;
   font-size: larger;

}

p {

   
}

a:link, a:visited {
   color: #d17f38;
}

a:hover {

}

hr {
   border: none;
   background-image: url("../images/divider.png");
}


/* Header */

header nav {

}

header nav ul {
   display: flex;
   justify-content: space-evenly;
   padding-bottom: 2.5%;
}

header nav ul li {
   list-style: none;
   font-size: 40px;  
}

header nav ul li a {
   text-decoration: none;
   color: #d17f38;
   font-size: 20px;
   padding-bottom: 30px;
   padding-top: 30px;
}

header nav ul li a:hover {
   color: black;
}

header nav ul li#logo a {
   color: rgba(245, 245, 220, 0);
   background-image: url("../images/logo.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%
}

header nav ul li#logo a:hover {
   background-image: url("../images/logo-hover.png");
   padding-top: 30px;
   padding-bottom: 30px;
}


/* Hero */

#hero {
   
}

#hero .container {
   background-color: 	#d17f38;
   display: flex;
   justify-content: center;
}

#hero .large-ribbon {
   background-image: url(../images/fresh-whole-ingredients.png);
   height: 200px;
   width: 200px;
   color: rgba(245, 245, 220, 0);
   background-repeat: no-repeat;
   margin-top: -50px;
   margin-left: -50px;
   
}



/* The Whole Story */

#story-excerpt {
  background-image: url("../images/award.png");
  background-position: right;
  background-repeat: no-repeat;
  float: left;
  width: 40%;
  margin-left: 10%;
  padding-right: 10%;
}

#best-donut {
   float:left;
   width: 20%;
   padding-left: 3%;
   
}

/* News & Events */

#articles {
   float: inline-start;
   width: 50%;
   padding-left: 2%;
}

#feature-image {
float: left;
}

#news-events article {
padding-left: 10%;
}

#news-events article.news {
   background-image: url("../images/icon-news.png");
   background-position: left;
   background-repeat: no-repeat;
   width: 40%;
}

#news-events article.event {
   background-image: url("../images/icon-calendar.png");
   background-position: left;
   background-repeat: no-repeat;

}

#news-events header time {
   color: #d17f38;
}

#news-events section.excerpt {
   
}

#news-events footer {
   
}


/* Footer */

footer.main {
   background-color: #4b2707;
   margin: 0px;
   display: flex;
   color: white;
}

footer.main a:hover {
  

}

#uncopyright, #credits {
   width: 150%;
   height: 5%;
}

#uncopyright {
   padding-left: 100%;
   padding-top: 5%;
}

#credits {
   padding-left: 200%;
}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





